{% extends 'core/base.html' %}
{% block content %}

<div class="container mt-5 st-font">
    <h1 class="text-warning mb-5 border-bottom"> Skills</h1>
    <div class="row text-black">
        <div class="col-sm-5">
            <h3 class="mt-5"> C/C++ </h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width:100%" aria-valuenow="100" aria-valuein="0" aria-valuemax="100">100%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5"> HTML/Css/javascript</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width:100%"
                  aria-valuenow="100" aria-valuein="0" aria-valuemax="100">100%</div>

            </div>
        </div>
        <div class="col-sm-5">
            <h3 class="mt-5"> Mysql</h3>
            <div class="progress">
                <div class="progress-bar
                progress-bar-striped progress-bar-animated" role="progressbar" style="width:100%" aria-valuenow="100" aria-valuein="0" aria-valuemax="100">100%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5"> Php </h3>
            <div class="progress">
                <div class="progress-bar
                 progress-bar-striped progress-bar-animated" role="progressbar" style="width:100%"
                  aria-valuenow="100" aria-valuein="0" aria-valuemax="100">100%</div>

            </div>
        </div>
        <div class="col-sm-5">
            <h3 class="mt-5"> Python </h3>
            <div class="progress">
                <div class="progress-bar
                progress-bar-striped progress-bar-animated" role="progressbar" style="width:100%" aria-valuenow="100" aria-valuein="0" aria-valuemax="100">100%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5"> Django</h3>
            <div class="progress">
                <div class="progress-bar
                 progress-bar-striped progress-bar-animated" role="progressbar" style="width:100%"
                  aria-valuenow="100" aria-valuein="0" aria-valuemax="100">100%</div>

            </div>
        </div>
        <div class="col-sm-5">
            <h3 class="mt-5"> AWS( Amazon web Services )  </h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width:90%" aria-valuenow="90" aria-valuein="0" aria-valuemax="100">90%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5"> Cyber Security</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width:60%"
                  aria-valuenow="60" aria-valuein="0" aria-valuemax="100">60%</div>

            </div>
        </div>
        <div class="col-sm-5">
            <h3 class="mt-5"> Windows/linux</h3>
            <div class="progress">
                <div class="progress-bar
                progress-bar-striped progress-bar-animated" role="progressbar" style="width:100%" aria-valuenow="100" aria-valuein="0" aria-valuemax="100">100%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5"> Blockchain(Solidity)</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width:20%"
                  aria-valuenow="20" aria-valuein="0" aria-valuemax="100">20%</div>

            </div>
        </div>

        
    </div>

</div>









{% endblock content %}