{% extends 'core/base.html' %}
{% block content %}
<title>Education</title>
<div class="Container mt-5  st-font">
    <h1 class="text-warning mb-5 border-bottom mb-5 text-center">Education</h1>
    <div class ="row text-white text-center ">
        <div class="col-sm-4 ss-color mb-5">
            <i class="fa-solid fa-school fa-3x mb-3 i-color"></i>
            <h3>High School</h3>
            <p>Maharishi Vidya Mandir</p>
            <p>Prayagraj,U.P</p>
            <p>2011</p>
        </div>
        <div class="col-sm-4 ss-color mb-5">
            <i class="fa-solid fa-school fa-3x mb-3 i-color"></i>
            <h3>Intermediate</h3>
            <p>Maharishi Vidya Mandir</p>
            <p>Commerece</p>
            <p>Prayagraj,U.P</p>
            <p>2013</p>
        </div>
        <div class="col-sm-4 ss-color mb-5">
            <i class="fa-solid fa-school fa-3x mb-3 i-color"></i>
            <h3>Graduation</h3>
            <h4>Bachelor of Computer Application</h4>
            <p>Sam Higginbottom University of Agriculture,<br>
            Technology and Sciences, formerly Allahabad Agricultural Institute,<br>
             is a government aided agricultural university in Allahabad, Uttar Pradesh,</p>
            <p>Prayagraj,U.P</p>
            <p>2013 To 2016</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-regular fa-brain-circuit"></i>
        </div>
            <div class="col-sm-4 ss-color">
                <i class="fa-solid fa-school fa-3x mb-3 i-color"></i>
                <h3>Post Graduation</h3>
                <h4>Master of Computer Application</h4>
                <p>Integral University</p>
                <p>Lucknow,Uttar Pradesh</p>
                <p>2019 To 2021</p>
            </div>
        <div class="col-sm-4 ss-color">
            
        </div>
    </div>
</div>
{% endblock content %}