{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5 st-font">
    <h1 class="text-warning mb-5 border-bottom">Projects</h1>
    <div class="row">
        <div class="col-sm-4 offset-sm-1 mt-5 card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Calculator</div>
            <div class="card-body text-primary">
            <h5 class="card-title">This Application code with python </h5>
            <p class="card-text">Python Functions</p>
            <p class="card-text"> Python Function Arguments</p>
            <p class="card-text">Python User-defined Functions</p>
            </div>
        </div>
        <div class="col-sm-4 offset-sm-1 mt-5 card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Bank management system</div>
            <div class="card-body text-secondary">
            <h5 class="card-title">Python</h5>
            <p class="card-text">This projects working with python codes,and all function are working like A/c opening /Credit Amount/Debit Amount/Closing Account/RD opening and fd opening with mysql database </p>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-1 mt-5 card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Shop management system</div>
            <div class="card-body text-success">
            <h5 class="card-title">Manage sales data with python codes</h5>
            <p class="card-text">In this project are handle management of sales data in Day/weekly/monthly and year also in shop and Manage the staff data. </p>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-1 mt-5 card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Sales management System</div>
            <div class="card-body text-danger">
            <h5 class="card-title">Record the sales Data </h5>
            <p class="card-text">This project is update version of shop managment with gui.</p>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-1 mt-5 card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Data transfer to s3 bucket(Aws)</div>
            <div class="card-body text-warning">
            <h5 class="card-title">Transfer system data to s3 bucket </h5>
            <p class="card-text">This is a python scrit for system to aws data transfer automaticly.</p>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-1 mt-5 card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">E-commerece website</div>
            <div class="card-body text-info">
            <h5 class="card-title">this website based on Django </h5>
            <p class="card-text">this is online shopping website</p>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-3 mt-5 card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Education website</div>
            <div class="card-body">
            <h5 class="card-title">Based on Django with database </h5>
            <p class="card-text">Online study center</p>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-1 mt-5 card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Comming Soon....</div>
            <div class="card-body text-dark">
            <h5 class="card-title">Comming Soon</h5>
            <p class="card-text"><lord-icon
                src="https://cdn.lordicon.com/suhrifrv.json"
                trigger="loop"
                style="width:250px;height:250px">
            </lord-icon></p>
            </div>
        </div>
    </div>    
</div>
{% endblock content %}